@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;

    /* add smooth scroll */
    scroll-behavior: smooth;
}

/* dark mode */
:root {
    --background: rgb(15, 23, 42);
    --heading-color: rgb(238, 238, 238);
    --content-color: rgb(171, 187, 211);
    --light-blue: rgb(52, 179, 241);
    --white: rgb(255, 255, 255);
    --grey: rgb(148, 163, 184);
    --border-nav: rgb(29, 37, 55);
    --sidebar: rgb(17, 26, 48);
}

/* light mode */
body.light {
    --background: rgb(255, 255, 255);
    --heading-color: rgb(51, 51, 51);
    --content-color: rgb(51, 51, 51);
    --light-blue: rgb(52, 179, 241);
    --grey: rgb(148, 163, 184);
    --border-nav: rgb(221, 221, 221);
    --sidebar: rgb(245, 245, 245);
}

/* custom scrollbar */
body::-webkit-scrollbar {
    width: 20px;               
}

body::-webkit-scrollbar-track {
    background: var(--heading-color);       
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
    background-image: linear-gradient(180deg, var(--background) 0%, var(--light-blue) 100%);
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
    border-radius: 100px;
    border-radius: 20px;      
    border: 1px solid var(--heading-color);  
}


/* reveal element animation (dark mode)*/
.section {
    opacity: .2;
    transition: .2s linear;
}

.section.reveal {
    opacity: 1;
}

/* reveal element animation (light mode)*/
body.light .section {
    opacity: .5;
    transition: .1s linear;
}

body.light .section.reveal {
    opacity: 1;
}

/* body */
body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background);
    color: var(--content-color);
    transition: .1s linear;
    font-size: 1em;
}

/* other element */
.btn {
    padding: 10px 20px;
    background-color: var(--light-blue);
    border-radius: 10px;
    transition: .15s;
    color: var(--white);
}

.btn:hover {
    background-color: rgb(41, 130, 175);
}

/* ------------------------------------ navbar desktop (header) --------------------------------- */
header {
    position: relative;
    z-index: 999;
}

header nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 120px;
    backdrop-filter: blur(8px);
    box-shadow: 0 0 5px 1px var(--border-nav);
}

header nav .brand-logos .logos{
    font-size: 1.4em;
    color: var(--heading-color);
    font-weight: bold;
}

header nav .nav-links ul li{
    display: inline;
    margin: 0 20px;
}

header nav ul li a {
    cursor: pointer;
    color: var(--heading-color);
    font-weight: 500;
    position: relative;
}

header nav ul li .links::after {
    display: block;
    position: absolute;
    content: '';
    left: 0;
    width: 0;
    height: 3px;
    border-radius: 30px;
    background-color: var(--heading-color);
    transition: .1s linear;
}

header nav ul li .links.active::after {
    width: 100%;
}

header nav ul li .links:hover {
    -webkit-text-stroke: 1px var(--heading-color);
}

header nav ul li .btn {
    color: var(--white);
}

header nav .nav-links ul li .theme {
    width: 28px;
    position: absolute;
    cursor: pointer;
    z-index: 9999;
}

/* --------------------------------- navbar mobile (header) --------------------------------------- */
header nav .menu {
    display: none;
    flex-direction: column;
    width: 30px;
    height: 22px;
    cursor: pointer;
    z-index: 99;
    position: relative;
}

header nav .menu span {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: var(--heading-color);
    border-radius: 20px;
    transition: .2s;
}

header nav .menu span:nth-child(1){
    top: 0;
    transform: rotate(0deg);
}

header nav .menu span:nth-child(2){
    width: 80%;
    top: 10px;
}

header nav .menu span:nth-child(3){
    bottom: 0;
    transform: rotate(0deg);
}

header nav .menu.open span:nth-child(1){
    top: 10px;
    transform: rotate(135deg);
}

header nav .menu.menu.open span:nth-child(2){
    opacity: 0;
}

header nav .menu.open span:nth-child(3){
    top: 10px;
    transform: rotate(-135deg);
}

header nav .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 0;
    height: 100vh;
    background-color: var(--sidebar);
    text-align: center;
    transition: .3s;
    box-shadow: 0 0 1px 1px var(--border-nav);
}

header nav .sidebar.open {
    width: 600px;
}

header nav .sidebar ul {
    display: none;
}

header nav .sidebar ul li {
    margin: 60px 0 0 0;
}

header nav .sidebar ul li .links:hover {
    -webkit-text-stroke: 1px var(--heading-color);
}

header nav .sidebar ul li a.btn {
    color: var(--white);
}

/* -------------------------------------- jumbotron / home (main) ------------------------------------------------ */
main {
    margin: 120px 120px 0 120px;
}

main span {
    color: var(--light-blue);
}

/* jumbotron */
main .jumbotron {
    text-align: center;
    padding: 20px 0 120px 0;
    max-width: 900px;
    margin: auto;
}

main .jumbotron .jumbotron-header .say-hello{
    font-weight: 600;
    font-size: 24px;
    color: var(--light-blue);
}

main .jumbotron .jumbotron-header h1 {
    color: var(--heading-color);
    line-height: 55px;
    font-size: 46px;
    margin: 0 0 20px 0;
}

main .jumbotron .jumbotron-header .subtitle {
    font-size: 1.1em;
}   

main .call-to-action {
    padding-top: 40px;
}

main .call-to-action .btn.follow:hover {
    color: var(--heading-color);
    background: none;
    border: 1px solid var(--light-blue);
}

main .call-to-action .links a {
    color: var(--heading-color);
    margin: 40px 20px;
    display: inline-block;
    transition: .3s;
}

main .call-to-action .links a:hover {
    transform: translateY(-10px);
}
/* ------------------------------------------- aside / about me (main) --------------------------------------------- */
main aside {
    display: flex;
}

main h2 {
    color: var(--heading-color);
    font-size: 1.4em;
}

main h2::after {
    display: block;
    content: '';
    position: absolute;
    height: 3px;
    width: 80px;
    background-color: var(--light-blue);
    border-radius: 30px;
}

main aside article {
    display: flex;
    flex-direction: column;
}

main aside article img {
    margin: 4em 40px;
}

main aside article section h3 {
    color: var(--heading-color);
    font-size: 1.2em;
}

main aside article:nth-child(1) {
    min-width: 35%;
    max-width: 100%;
}

main aside article:nth-child(2) {
    padding-top: 50px;
    min-width: 65%;
    max-width: 100%;
}

main aside article section:nth-child(1),
main aside article section:nth-child(2){
    padding-bottom: 1em;
}

main aside article section p {
    margin-top: 1em;
}

main aside article section ul li {
    margin-top: 1em;
    display: inline-block;
    margin-right: 20px;
}


main aside article section ul li img{
    cursor: pointer;
    width: 38px;
    margin: 0;
    transition: .2s;
}

main aside article section ul li img:hover{
    transform: scale(1.2) translateY(-10px);
    filter: opacity(.5);
}

/* ----------------------------------------- contact (main) -------------------------------------- */

main .contact {
    margin: 120px 0;
}

main .contact article ul {
    display: flex;
    margin-top: 4em;
    gap: 40px;
}

main .contact article ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

main .contact article ul li a:hover img{
    transform: translateY(-20px);
}

main .contact article ul li a:hover span {
    color: var(--content-color);
    bottom: -20px;
}

main .contact article ul li a img {
    width: 100%;
    filter: drop-shadow(3px 3px 0 var(--heading-color));
    transition: .3s;
}

main .contact article ul li a span {
    position: absolute;
    color: transparent;
    bottom: 0;
    transition: .3s;
}

/* ---------------------------------------- footer -------------------------------------------- */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 120px;
    font-size: .8em;
    box-shadow: 0 0 3px 1px var(--border-nav);
}

footer .github a span {
    margin-left: 10px;
    color: var(--content-color);
    transition: .2s;
}

footer .github:hover a span{
    color: var(--heading-color);
    -webkit-text-stroke: .5px var(--heading-color);
}

footer .github a i {
    color: var(--heading-color);
}

/* ------------------------------- jump to top button ------------------------------------------ */
.jump {
    cursor: pointer;
    position: fixed;
    right: 30px;
    bottom: 30px;
    opacity: 0;
    transition: .1s linear;
    color: var(--heading-color);
    opacity: 0;
    cursor: pointer;
    font-size: 40px;
}

.jump.reveal {
    opacity: 1;
    animation: shake 2.5s ease-in-out infinite;
    transform-origin: 50% 4px;
}

/* ------------------------------- info pop up ------------------------------------------ */
.alert {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: -200px;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: var(--heading-color);
    color: var(--border-nav);
    padding: 20px;
    font-size: 1.1em;
    transition: .6s;
    opacity: 0;
    color: var(--background);
}

.alert.reveal {
    top: 0;
    opacity: 1;
}

.alert span {
    font-weight: bold;
}

.alert .close-btn {
    color: var(--white);
    font-weight: 600;
    font-size: .8em;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 10px;
    transition: .2s;
    background-color: var(--light-blue);
}

.alert .close-btn:hover {
    transform: translateY(-5px);
    opacity: .8;
}

/* --------------------------------------- animation ------------------------------------------ */
@keyframes shake {
        0% {-webkit-transform: rotateZ(30deg);}
        5% {-webkit-transform: rotateZ(-28deg);}
        10% {-webkit-transform: rotateZ(34deg);}
        15% {-webkit-transform: rotateZ(-32deg);}
        20% {-webkit-transform: rotateZ(30deg);}
        25% {-webkit-transform: rotateZ(-28deg);}
        30% {-webkit-transform: rotateZ(26deg);}
        35% {-webkit-transform: rotateZ(-24deg);}
        40% {-webkit-transform: rotateZ(22deg);}
        45% {-webkit-transform: rotateZ(-20deg);}
        50% {-webkit-transform: rotateZ(18deg);}
        55% {-webkit-transform: rotateZ(-16deg);}
        60% {-webkit-transform: rotateZ(14deg);}
      
        65% { -webkit-transform: rotateZ(0); }
        100% { -webkit-transform: rotateZ(0); }
  }

/* ---------------------------------- responsive ----------------------------------------------- */
@media screen and (max-width: 1100px){
    header nav {
        padding: 20px 60px;
    }

    main {
        margin: 120px 60px 0 60px;
    }

    footer {
        padding: 30px 60px;
    }
}

@media screen and (max-width: 866px){
    header nav {
        padding: 20px 40px;
    }

    header nav .nav-links {
        display: none;
    }

    header nav .menu {
        display: flex;
    }

    header nav .sidebar.open ul {
        display: block;
    }

    header nav .sidebar.open {
        width: 400px;
    }

    /* main */
    main {
        margin: 120px 40px 0 40px;
    }

    main .jumbotron .jumbotron-header h1 {
        font-size: 38px;
    }

    /* aside */
    main aside {
        flex-direction: column;
    }

    main aside article img {
        width: 40%;
        margin: 60px auto 0 auto;
    }

    /* footer */
    footer {
        padding: 30px 40px;
    }
}

@media screen and (max-width: 550px){
    header nav {
        padding: 20px 20px;
    }

    header nav .sidebar.open {
        width: 380px;
    }

    /* main */
    main {
        margin: 75px 20px 0 20px;
    }

    /* jumbotron */
    main .jumbotron {
        padding: 60px 0 120px 0
    }

    main .jumbotron .jumbotron-header .say-hello{
        font-size: 20px;
    }

    main .jumbotron .jumbotron-header h1 {
        font-size: 30px;
        line-height: 42px;
    }

    /* footer */
    footer {
        padding: 30px 20px;
    }
}

@media screen and (max-width: 480px){
    header nav .sidebar.open {
        width: 300px;
    }

    /* main */
    main .jumbotron {
        text-align: center;
        padding: 60px 0 40px 0;
        max-width: 900px;
        margin: auto;
    }

    main .contact {
        margin: 60px 0;
    }

    /* aside */
    main aside article img {
        width: 60%;
        margin: 60px auto 0 auto;
    }

    /* contact */
    main .contact article ul{
        flex-wrap: wrap;
        justify-content: center;
    }
    
    footer {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

}

@media screen and (max-width: 410px){
    main .jumbotron .jumbotron-header .subtitle {
        display: none;
    }   

    main .call-to-action {
        padding-top: 20px;
    }

    /* alert */
    .alert {
        justify-content: center;
        text-align: center;
        gap: 15px;
    }
}